{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <h1 class="center-align">{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Цена: ${{ item.price }}</p>
    <button id="buy-button" class="btn waves-effect waves-light">Купить</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51QwmYxP1QaLd00worLGNFHhSZGWmAP0csUytdAKRiS15DRmyPMPKM2zKJA7CySgorHHXtLirC9zSM5EV1oH0GsJJ00O5oaE4U9');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item.id }}', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }));
      });
    </script>
{% endblock %}