<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }}</title>
    <!-- Подключение Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">My Shop</a>
        </div>
    </nav>

    <div class="container">
        <h1 class="center-align">{{ item.name }}</h1>
        <p>{{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
        <button id="buy-button" class="btn waves-effect waves-light">Buy</button>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_51QwmYxP1QaLd00worLGNFHhSZGWmAP0csUytdAKRiS15DRmyPMPKM2zKJA7CySgorHHXtLirC9zSM5EV1oH0GsJJ00O5oaE4U9');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item.id }}', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }));
      });
    </script>

  </body>
</html>